.name-card {
    font-family: 'Rationale', sans-serif;
    color: white;
    font-size: 2.5em;
    line-height: 1.4;
    border: 0.1rem solid white;
    max-width: 100%;
    overflow: hidden; /* a floatolt kép magasságát is figyelembe veszi a keret */
    padding: 1rem;     /* opcionális, hogy legyen kis belső margó */
    box-sizing: border-box;
    margin-top: 50px;
}

.name-card img {
    float: left;
    height: 25rem;
    margin-right: 1em; /* távolság a kép és a szöveg között */
}
