@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Lexend:wght@100..900&family=Rationale&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(15, 15, 15);
    font-family: 'Lexend', sans-serif;
}


.main-title {
    font-size: 4rem;
    background: linear-gradient(to right, rgb(2, 0, 150), rgb(255, 255, 255), rgb(2, 0, 150));
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    -webkit-background-clip: text;  /* gradient a szövegre */
    -webkit-text-fill-color: transparent; /*a szöveg maga átlátszó, hogy látszódjon a gradient */
}

.main-title {
    text-align: center;

}